# URL aplikasi Vue yang akan dibungkus
EXAM_APP_URL=https://simak.example.sch.id/exam

# Endpoint (opsional) untuk mencatat kehilangan fokus
ATTENTION_WEBHOOK_URL=https://simak.example.sch.id/api/exam/attention

# Secret admin untuk membuka mode pengawas
ADMIN_PIN=123456

# Hotkey untuk membuka modal admin
ADMIN_SHORTCUT=Ctrl+Alt+Shift+A

# URL feed auto-update (opsional, isi jika rilis disajikan dari server/Repo)
AUTO_UPDATE_URL=https://gitlab+deploy-token-10089497:gldt-xgCKQ9DgFKcPVcxrMWcd@gitlab.com/simak-khas-kempek/simak-exam-browser/-/releases/

# Sentry config
SENTRY_DSN=https://db5e61cf96519bd2b7e46afbff6e26cc@o271614.ingest.us.sentry.io/4510430173986816
